{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block content %}
    <p><a href="{{url_for('main.home')}}"></a></p>
    <h2>REGISTER</h2>

    <section>
        <form method="POST">
            {{ form.hidden_tag() }}
            <div>
                {{ form.username.label }}
                {{ form.username() }}

                {% if form.username.errors %}
                    {% for error in form.username.errors %}
                        <br><small style="color: red;">{{ error }}</small>
                    {% endfor %}
                {% endif %}
                <br><br>
            </div>

            <div>
                {{ form.email.label }}
                {{ form.email() }}

                {% if form.email.errors %}
                    {% for error in form.email.errors %}
                        <br><small style="color: red;">{{ error }}</small>
                    {% endfor %}
                {% endif %}
                <br><br>
            </div>

            <div>
                {{ form.password.label }}
                {{ form.password() }}

                {% if form.password.errors %}
                    {% for error in form.password.errors %}
                        <br><small style="color: red;">{{ error }}</small>
                    {% endfor %}
                {% endif %}
                <br><br>
            </div>

            <div>
                {{ form.confirm_password.label }}
                {{ form.confirm_password() }}

                {% if form.confirm_password.errors %}
                    {% for error in form.confirm_password.errors %}
                        <br><small style="color: red;">{{ error }}</small>
                    {% endfor %}
                {% endif %}
                <br><br>
            </div>

            <div>
                {{ form.gender.label }}
                {{ form.gender() }}

                {% if form.gender.errors %}
                    {% for error in form.gender.errors %}
                        <br><small style="color: red;">{{ error }}</small>
                    {% endfor %}
                {% endif %}
                <br><br>
            </div>

            <div>
                {{ form.submit.label }}
                {{ form.submit() }}
            </div>
        </form>
    </section>

    <p>Already have an account <a href="{{url_for('auth.login')}}">Login</a></p>

{% endblock %}